/* Selectors */

body {
    background-color: rgb(201, 43, 43);
}
h1 {
    color: yellow;
}
.intro-p {
    color: blue;
    border: 2px solid blue;
}
.description-p {
    color: blueviolet;
}
#list-heading {
    color: aqua;
}
