div {
    margin: 5px;
}
h1 {
    color: blue;
}
#third span {
    visibility: visible;
}
#fifth p {
    display: none;
}
#third p {
    background-color: blue;
}
img {
    width: 300px;
    height: 300px;
}
p {
    color: red;
}