.container {
    margin: 2rem auto;
    background-color: whitesmoke;
    width: 90%;
    /* height: 90vh; */
}
.container > div {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: dodgerblue;
    border: 1px solid lightgray;
    width: 200px;
    height: 100px;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.flex-item {
    flex-basis: 200px;
}
.flex-item-1{
    flex-shrink: 0;
}
.flex-item-2 {
    flex-grow: 1;
}
