#modal1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.466);
    height: 100vh;
    width: 100vw;
    z-index: 10;
    visibility: hidden;
    color: white;

}

#big-img {
    height: 500px;
}