body {
  background-color: rgb(38, 38, 38);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Lineal-Black";
  src: url("../fonts/Lineal-Black.woff");
}
@font-face {
  font-family: "Lineal-Light";
  src: url("../fonts/Lineal-Light.woff");
}
