nav {
    display: flex;
    justify-content: flex-end !important;
}

.main-content {
    background-color: whitesmoke;
    height: 80vh;
    width: 80vw;
    padding: 100px;
}

.actor-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.actor-heading {
    padding: 20px;
}

.actor-text {
    padding: 20px;
}

.actor-img {
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    margin: 20px;
}